{% extends "installation/base_nav.html" %}

{% block title %}FacilityWiseSystem Dashboard{% endblock %}

{% block extra_css %}
<style>
    .dashboard-wrapper{
        padding:20px;
    }

    .facility-card{
        background:white;
        border-radius:18px;
        padding:12px;
        box-shadow:0 2px 10px rgba(0,0,0,0.08);
        height:100%;
    }

    .facility-title{
        font-size:18px;
        font-weight:700;
        margin-bottom:12px;
        color:white;
        background:#5f630a;
        border-radius:10px;
        padding:10px;
        text-align:center;
    }

    .col-5-custom{
        width:20%;
        flex:0 0 auto;
        padding:4px;
    }

    .system-card{
        border-radius:10px;
        padding:6px;
        color:white;
        min-height:55px;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
        transition:0.3s;
        font-size:10px;
        font-weight:600;
        line-height:1.2;
        word-break:break-word;
    }

    .system-card:hover{
        transform:translateY(-2px);
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid dashboard-wrapper">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
        <h4 class="mb-0">Facility Wise System Dashboard</h4>

        <form method="GET" class="d-flex gap-2">
            <select name="type" class="form-select" style="width: 150px;">
                <option value="">All Type</option>
                <option value="MB" {% if selected_type == "MB" %}selected{% endif %}>MB</option>
                <option value="TB" {% if selected_type == "TB" %}selected{% endif %}>TB</option>
            </select>

            <button class="btn btn-primary">
                Search
            </button>
        </form>
    </div>
    <div class="row g-3">

        {% for facility, systems in facility_data.items %}

        <div class="col-xl-3 col-lg-4 col-md-6">

            <div class="facility-card">

                <div class="facility-title">
                    {{ facility }}
                </div>

                <div class="row g-1">

                    {% for s in systems %}

                    <div class="col-5-custom">
                        <div class="system-card bg-{{ s.color }}">
                            {{ s.system }}
                        </div>
                    </div>

                    {% endfor %}

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}