{% extends 'base2.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h2 class="mb-4">Admin Dashboard</h2>


<div class="row g-4 mt-2">
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">Ticket Management</h5>
        <a href="http://172.17.200.248/" class="btn btn-primary">Tickets</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">ITCD System</h5>
        <a href="{% url 'facility_grid' %}" class="btn btn-warning">
          ITCD Systems
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">ITCD Archive</h5>
        <a href="{% url 'camera_app:image_list' %}" class="btn btn-warning">
          Archive 
        </a>
      </div>
    </div>
  </div>
</div>


<div class="row g-4 mt-2">
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">Local Warning System</h5>
      
        <a href="http://172.17.108.11:8080/" class="btn btn-primary">LWS</a>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">ITCD InSAW</h5>
        <a href="/installation/dashboard/" class="btn btn-warning">
          InSAW
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">RoomWise </h5>
        <a href="/roomwise/device/list" class="btn btn-warning">
          RoomWise 
        </a>
      </div>
    </div>
  </div>
  </div>
    <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">👥 User Management</h5>
        <p class="card-text">Create and manage user </p>
        <a href="{% url 'user_list' %}" class="btn btn-success">Manage Users</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
