{% extends 'base.html' %}
{% block title %}Viewer Dashboard{% endblock %}
{% block content %}
<h2 class="mb-4">👀 Viewer Dashboard</h2>
<div class="row g-4 mt-2">
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">Ticket Management</h5>
        <a href="http://172.17.200.248/" class="btn btn-primary">Tickets</a>
      </div>
    </div>
  </div>

 
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">🏢 Entry Management</h5>
        <p class="card-text">Facilities, Systems, Equipment & Learning.</p>
        <a href="{% url 'system_dashboard' %}" class="btn btn-warning">
          Go to Entry App
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body text-center">
        <h5 class="card-title">ITCD Archive</h5>
        <a href="{% url 'camera_app:image_list' %}" class="btn btn-warning">
          Archive 
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
